* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-weight: 400;
  // overflow-x: hidden; 
  font-family: $font-poppins;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

button {
  border: 0;
  outline: 0;

  &:focus {
    border: none;
    outline: none;
    box-shadow: 0px 0px 0px;
  }
}

ul {
  list-style-type: none;
  list-style-position: inside;
  margin: 0px;
  padding: 0px;
}

input,
textarea {
  width: 100%;
  border: none;
  outline: none;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

.ic-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $primary;
  z-index: 99999;
  @include d-flex();
  @include align-items(center);
  @include justify-content(center);
}

/** ============ title css ============== **/



.slick-dots {
  padding-top: 30px;
  @include d-flex();
  @include justify-content(center);
  gap: 10px;
  bottom: 58px!important;
  li {
    flex: 0 0 auto;
    width: 15px;
    height: 15px;
    margin: 0;
    button {
      background: transparent !important;
      border: none;
      padding: 0 !important;
      width: 15px;
      height: 15px;
      @include bd-radius(50%);
      border: 2px solid $white;
      @include transition(.4s);
    }
    &.slick-active {
      button {
        background-color: $secondary!important;
      }
    }
  }
}