/**Font Size & Font Family**/

// ------------------

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p,
a,
span,
label,
li {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 0;
    font-family: $font-poppins;

    @media #{$max1199} {
        font-size: 14px;
    }
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 85px;
    line-height: 123px;

    span {
        @extend h1;
    }
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 85px;
    @media #{$max1399} {
        font-size: 50px;
        line-height: 75px;
    }
    @media #{$max1199} {
        font-size: 40px;
        line-height: 65px;
    }
    @media #{$max1199} {
        font-size: 32px;
        line-height: 55px;
    }
    span {
        @extend h2;
    }
}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 65px;
    span {
        @extend h3;
    }
}

h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    span {
        @extend h4;
    }
}

h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;

    span {
        @extend h5;
    }
}

h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;

    span {
        @extend h6;
    }
}

.tag-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.body-font {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.extra-small {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

$weights: 300,
400,
500,
600,
700,
800,
900;

@each $weight in $weights {
    .fw-#{$weight} {
        font-weight: $weight !important;
    }
}

.agent-font {
    font-family: 'argentcf-regular'!important;
    font-weight: 400;
}