.ic-banner-part {
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 267px;
    padding-bottom: 403px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &.ic-donated-banner {
        padding-top: 267px;
        padding-bottom: 250px;

        @media #{$max1199} {
            padding-top: 186px;
            padding-bottom: 217px;
        }

        @media #{$max991} {
            padding-top: 160px;
            padding-bottom: 117px;
        }

        @media #{$max767} {
            padding-top: 150px;
            padding-bottom: 114px;
        }

        @media #{$max374} {
            padding-top: 115px;
            padding-bottom: 70px;
        }
    }

    @media #{$max1399} {
        padding-top: 222px;
        padding-bottom: 300px;
    }

    @media #{$max1199} {
        padding-top: 186px;
        padding-bottom: 217px;
    }

    @media #{$max991} {
        padding-top: 160px;
        padding-bottom: 117px;
    }

    @media #{$max767} {
        padding-top: 150px;
        padding-bottom: 114px;
    }

    @media #{$max374} {
        padding-top: 115px;
        padding-bottom: 70px;
    }

    .ic-banner-content {
        text-align: center;

        h1 {
            position: relative;
            display: inline-block;
            font-family: $font-kaushan;
            font-weight: 400;
            font-size: 70px;
            line-height: 116px;
            color: $white;

            @media #{$max1280} {
                font-size: 55px;
            }
            @media #{$max1199} {
                font-size: 48px;
            }

            @media #{$max991} {
                font-size: 46px;
            }

            @media #{$max767} {
                font-size: 48px;
                line-height: 65px;
            }

            @media (max-width: 500px) {
                font-size: 37px;
                line-height: 55px;
            }

            @media (max-width: 374px) {
                font-size: 30px;
                line-height: 60px;
            }

            span {
                color: $secondary;
            }

            img {
                position: absolute;
                right: 0;
                bottom: 0;

                @media #{$max991} {
                    display: none;
                }
            }
        }
    }
}