.header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding: 25px 0;
    z-index: 99;

    &.sticky {
        padding: 20px 0;
        background-color: $white;
        animation: sticky ease-in-out .4s;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.14);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.14);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.14);
        .ic-navbar-nav {
            li {
                a {
                    color: $black;
                }
            }
        }

        .ic-nav-button li.ic-language-drop>a {
            background-color: $black2;
            color: $white;
        }

        .withOutSticky {
            display: none;
        }

        .withSticky {
            display: block;
        }

        .humbarger {
            span {
                background-color: $black;
            }
        }
    }
}

.withSticky {
    display: none;
    max-width: 143px;
}

@keyframes sticky {
    from {
        top: -50px;
    }

    to {
        top: 0;
    }
}

.ic-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;

    &.active {
        display: block;
    }
}

.ic-navbar {
    @include d-flex();
    @include align-items(center);
    @include justify-content(space-between);

    .ic-navbar-ul-nav {
        @include d-flex();
        @include align-items(center);

        li {
            a {
                color: $black;
            }
        }

        .sidebar-logo {
            max-width: 143px;

            @media (min-width: 1199px) {
                display: none;
            }
        }

        @media #{$max1199} {
            position: fixed;
            height: 100%;
            background-color: $white;
            width: 250px;
            top: 0;
            left: 0;
            padding: 20px;
            flex-direction: column;
            transition: 0.7s cubic-bezier(.17, .67, .61, .86);
            gap: 20px;
            align-items: start;
            transform: translateX(-100%);

            &.active {
                transform: translateX(0);
            }

            .ic-navbar-nav {
                flex-direction: column;
                align-items: start;
                margin-right: auto;
                margin-left: unset;
                padding-top: 15px;
                border-top: 1px solid rgb(202, 202, 202,  0.34);
                width: 100%;
                gap: 20px;
                li {
                    a {
                        display: block;
                        color: $black;
                        font-weight: 400;
                        font-size: 16px;
                    }
                }
            }

            .ic-nav-button {
                padding-left: 0;
                width: 100%;
                li {
                    width: 100%;
                    a {
                        width: 100%;
                    }
                }
            }
        }
    }


    .humbarger {
        @media (min-width: 1199px) {
            display: none;
        }

        span {
            display: block;
            width: 40px;
            height: 4px;
            background-color: $white;
            transition: ease-in-out 0.4s;

            &:not(:last-child) {
                margin-bottom: 8px;
            }

            &:nth-child(2) {
                width: 30px;
            }

            &:nth-child(3) {
                width: 25px;
            }
        }

        &.active {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 6px);
                }

                &:nth-child(2) {
                    transform: translateX(-10px);
                    opacity: 0;
                }

                &:nth-child(3) {
                    width: 40px;
                    transform: rotate(133deg) translate(-11px, 11px);
                }
            }
        }
    }

    .ic-navbar-nav {
        margin-left: auto;
        @include d-flex();
        @include align-items(center);
        gap: 50px;

        @media #{$max1199} {
            gap: 30px;
        }

        li {
            a {
                font-family: $font-poppins;
                font-weight: 600;
                font-size: 18px;
                line-height: 20px;
                color: $white;
                transition: all linear .3s;

                &.active {
                    color: $secondary;
                }

                &:hover {
                    color: $secondary;
                }

                @media #{$max1199} {
                    font-weight: 500;
                }
            }
        }
    }

    .ic-nav-button {
        @include d-flex();
        @include align-items(center);
        gap: 15px;
        padding-left: 60px;

        @media #{$max1199} {
            padding-left: 30px;
        }

        li {
            a.ic-btn-donate {
                font-weight: 600;
                font-size: 18px;
                line-height: 20px;
                color: $black;
                height: 40px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 10px 20px;
                @include bd-radius(5px);
                background-color: $secondary;
                @media #{$max1399} {
                    height: 40px;
                }
                @media #{$max1199} {
                    font-size: 16px;
                }
                
            }

            &.ic-language-drop {
                position: relative;

                >a {
                    padding: 10px 15px;
                    background-color: $white;
                    @include bd-radius(5px);
                    color: $black;
                    height: 40px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    text-transform: uppercase;
                    font-family: $font-poppins;
                    font-weight: 500;

                    @media #{$max1399} {
                        height: 40px;
                    }
                    @media #{$max1199} {
                        background-color: $black2;
                        color: $white;
                    }
                }

                ul {
                    background-color: $white;
                    padding: 10px;
                    @include bd-radius(5px);
                    position: absolute;
                    width: 100%;
                    top: 47px;
                    left: 0;
                    transform: translateY(-10px);
                    transition: all linear 0.3s;
                    opacity: 0;
                    visibility: hidden;
                    border: 1px solid $border;
                    li {
                        a {
                            text-transform: uppercase;
                            display: inline-flex;
                            align-items: center;
                            gap: 8px;
                            color: $black;
                        }
                    }
                }

                &:hover {
                    ul {
                        transform: translateY(3px);
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }

    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black2;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loaderInner {
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    &::after {
        content: '';  
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-bottom-color: $secondary;
      }
  } 
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 