// Abstract Styles

@import "./abstracts/mixins";
@import "./abstracts/variable";
  
//Base Styles

@import "./base/global";
@import "./base/reset";
@import "./base/typhography";

//Layout  
@import "./component/buttons";
//Layout   

@import "./layout/banner";
@import "./layout/header";
@import "./layout/footer";
 
//Pages Styles

@import "./pages/home";
@import "./pages/donation";
@import "./pages/about";
@import "./pages/newsroom";

