.ic-section-header {
    h2 {
        font-family: $font-kaushan;
        font-weight: 400;
    }
}

.ic-about-text {
    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
        color: $black;

        @media #{$max1399} {
            font-size: 18px;
            line-height: 30px;
        }
    }
}

.ic-about-images {
    margin-top: 50px;
    position: relative;
}

.ic-about-images-content {
    padding: 65px 55px;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid $border;
    box-shadow: 0px 4px 30px rgba(35, 35, 35, 0.1);
    @include bd-radius(10px);
    width: 548px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    text-align: center;

    @media #{$max1399} {
        padding: 48px 55px;
    }

    h3 {
        font-size: 40px;
        line-height: 45px;
        color: $black;
        font-family: 'argentcf-regular';
        padding-bottom: 20px;

        @media #{$max1399} {
            font-size: 34px;
            line-height: 40px;
        }
    }

    p {
        font-size: 20px;
        line-height: 36px;
        color: $black;

        @media #{$max1399} {
            font-size: 18px;
            line-height: 32px;
        }
    }
}

.ic-sajida-foundation {
    background-color: $bg-shade;
}

.ic-sajida-foundation-img {
    border: 14px solid #FFFFFF;
    @include bd-radius(10px);
}

.ic-sajida-foundation-text {
    padding-left: 15px;

    h2 {
        font-family: 'argentcf-regular';
        font-weight: 400;
        color: $black;
        padding-bottom: 6px;

        @media #{$max1399} {
            font-size: 45px;
            line-height: 60px;
        }

        @media #{$max1199} {
            font-size: 38px;
            line-height: 50px;
        }

        @media #{$max991} {
            font-size: 32px;
            line-height: 50px;
        }
    }

    h6 {
        font-family: 'argentcf-regular';
        font-weight: 400;
        font-size: 25px;
        line-height: 28px;
        padding-bottom: 25px;
        color: $black2;

        @media #{$max1399} {
            font-size: 22px;
            line-height: 28px;
        }

        @media #{$max1199} {
            font-size: 18px;
            line-height: 28px;
        }
    }

    .sajida-foundation-paragraph {
        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 35px;

            @media #{$max1399} {
                font-size: 18px;
                line-height: 32px;
            }

            @media #{$max1199} {
                font-size: 16px;
                line-height: 28px;
            }

            &:not(:last-child) {
                padding-bottom: 35px;
            }
        }
    }
}

.ic-sajida-foundation-img {
    img {
        height: 799px;
        object-fit: cover;
        object-position: top;
    }
}

.ic-tabs-nav {
    @media #{$max1199} {
        overflow: auto;
        white-space: nowrap;

        &::-webkit-scrollbar {
            height: 4px;
        }
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        @media #{$max991} {
            width: 936px;
        }


        li {
            a {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                @include bd-radius(5px);
                border: 1px solid $border;
                padding: 0 30px;
                transition: all linear .4s;
                position: relative;
                z-index: 1;
                color: $black2;
                overflow: hidden;
                animation-delay: 0.3s;

                @media #{$max1399} {
                    padding: 0 16px;
                    font-size: 15px;
                    height: 40px;
                }

                @media #{$max1199} {
                    padding: 0 15px;
                    font-size: 14px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background-color: $primary;
                    @include bd-radius2(5px, 0, 0, 5px);
                    z-index: -1;
                    transition: 0.3s cubic-bezier(.17, .67, .83, .67);
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0;
                    height: 100%;
                    background-color: $primary;
                    @include bd-radius2(0, 5px, 5px, 0);
                    z-index: -1;
                    transition: 0.3s cubic-bezier(.17, .67, .83, .67);
                }

                &.active {
                    color: $white;

                    &::after {
                        width: 50%;
                    }

                    &::before {
                        width: 50%;
                    }
                }

                &:hover {
                    color: $white;

                    &::after {
                        width: 50%;
                    }

                    &::before {
                        width: 50%;
                    }
                }
            }
        }
    }
}

.ic-leadership-items {

    .img {
        overflow: hidden;
    }

    img {
        @include bd-radius(5px);
        height: 550px;
        object-fit: cover;
        object-position: top;
        transition: 1s cubic-bezier(.17, .67, .83, .67);
        width: 100%;

        @media #{$max1399} {
            height: 378px;
        }

        @media #{$max767} {
            height: 250px;
        }

        @media (max-width: 400px) {
            height: 335px;
        }
    }

    .leadership {
        text-align: center;

        h5 {
            font-size: 30px;
            line-height: 34px;
            font-family: 'argentcf-bold';
            color: $black;
            padding-top: 20px;
            padding-bottom: 10px;
            transition: all linear .3s;

            @media #{$max1399} {
                font-size: 24px;
                line-height: 24px;
                padding-top: 15px;
                padding-bottom: 5px;
            }

            @media #{$max767} {
                font-size: 20px;
                line-height: 18px;
            }

            @media #{$max575} {
                font-size: 18px;
                line-height: 18px;
            }
        }

        p {
            font-size: 18px;
            line-height: 27px;
            color: $black2;

            @media #{$max1399} {
                font-size: 16px;
            }

            @media #{$max767} {
                font-size: 14px;
            }
        }
    }

    &.executive {
        img {
            height: 376px;

            @media #{$max767} {
                height: 250px;
            }

            @media (max-width: 400px) {
                height: 335px;
            }
        }

        .leadership {
            padding: 0 12px;

            h5 {
                font-weight: 500;
                font-size: 22px;
                line-height: 33px;
                font-family: $font-poppins;

                @media #{$max767} {
                    font-size: 16px;
                    line-height: 22px;

                }
            }

            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 21px;
                font-family: $font-poppins;
                padding-bottom: 4px;
            }
        }
    }

    &:hover {
        img {
            transform: scale(1.2);
        }

        h5 {
            color: $primary;
        }
    }
}

.ic-general-body {
    height: 140px;
    width: 100%;
    @include bd-radius(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D3D3D3;
    transition: all linear .4s;
    padding: 10px;

    p {
        color: #1E1E1E;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        transition: all linear .4s;
        text-align: center;

        @media #{$max1399} {
            font-size: 18px;
            line-height: 26px;
        }
    }

    &:hover {
        transform: scale(1.05);
        box-shadow: 0px 8px 58px -5px rgba(0, 0, 0, 0.1);

        p {
            color: $primary;
        }
    }
}

.ic-sub-heading {
    text-align: center;
    padding-bottom: 50px;

    @media #{max1199} {
        padding-bottom: 24px;
    }

    h4 {
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        color: $black2;
    }
}

.ic-padding-top {
    padding-top: 80px;

    @media #{$max1399} {
        padding-top: 60px;
    }

    @media #{$max1199} {
        padding-top: 40px;
    }
}

.tab-content-items {
    display: none;

    &.active {
        display: block;
    }
}