.ic-donation-info {
    background-color: #f7f7f7f2;

    .ic-section-header {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .ic-contact-map-form-wrapper {
        gap: 30px;
        @include d-flex;
        @include flex-wrap(wrap);
        @include justify-content(center);
        background-color: #05336314;
        @include bd-radius(10px);

        @media #{$max1399} {
            gap: 20px;
        }

        @media #{$max1199} {
            gap: 16px;
        }

        .ic-single-item {
            width: calc(100% / 2 - 30px + 30px / 2);

            @media #{$max1399} {
                width: calc(100% / 2 - 20px + 20px / 2);
            }

            @media #{$max1199} {
                width: calc(100% / 2 - 16px + 16px / 2);
            }

            @media #{$max991} {
                width: 100%;
            }


            &.left-content {
                border-radius: 10px 0px 0px 10px;
                min-height: 200px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;

                @media #{$max991} {
                    border-radius: 10px 10px 0px 0px;
                }
            }

            .ic-contact-form {
                margin: 40px 30px 40px 0px;

                @media #{$max1399} {
                    margin: 30px 20px 30px 0px;
                }

                @media #{$max991} {
                    margin: 20px 20px 20px 20px;
                }

                @media #{$max991} {
                    margin: 20px 12px 20px 12px;
                }

            }

            .ic_form {
                .form-label {
                    font-size: 14px;
                    color: $black;
                    font-weight: 400;
                    margin-bottom: 8px;
                    @media #{$max991} {
                        font-size: 15px;
                    }
                    @media #{$max767} {
                        font-size: 14px;
                    }
                }

                .form-control {
                    font-size: 14px;
                    font-weight: 300;
                    height: 45px;
                    background-color: $white;
                    border: 1px solid #D5D2D2;
                    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
                    color: $black;
                    @include box-shadow2(none);
                    @include bd-radius(6px);
                    -moz-appearance: textfield;

                    @media #{$max1399} {
                        height: 40px;
                    }

                    @media #{$max991} {
                        height: 38px;
                        font-size: 13px;
                    }

                    @media #{$max767} {
                        height: 36px;
                    }

                    &:focus {
                        border: 1px solid $secondary ;
                    }

                    &::-webkit-file-upload-button {
                        height: 45px;


                        @media #{$max1399} {
                            height: 40px;
                        }

                        @media #{$max991} {
                            height: 38px;
                            font-size: 13px;
                        }

                        @media #{$max767} {
                            height: 36px;
                        }
                    }
                    /* Chrome, Safari, Edge, Opera */
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                }



            }
        }
    }

    .ic-about-btn{
        max-height: 45px;
    }
}