.ic-about {
    background-color: $bg3;

    @media #{$max767} {
        padding-top: 40px;
    }

    .ic-about-slider-main {
        @include d-flex();
        flex-wrap: nowrap;
        gap: 46px;

        @media #{$max767} {
            flex-wrap: wrap;
            flex-direction: column;
            gap: 21px;
        }

        .slider-left-image {
            position: relative;
            flex: 0 0 auto;
            width: 608px;
            height: 543px;
            margin-bottom: 0;
            margin-top: -129px;
            @include bd-radius(10px);

            @media #{$max1399} {
                width: 504px;
                height: 450px;
            }

            @media #{$max1280} {
                width: 418px;
                height: 450px;
                margin-top: -82px;
            }

            @media #{$max1199} {
                width: 346px;
                height: 458px;
            }

            @media #{$max991} {
                height: 375px;
            }

            @media #{$max767} {
                margin: 0 auto;
            }

            @media #{$max374} {
                width: 100%;
            }

            .image-items {
                @media #{$max1399} {
                    height: 450px;

                    img {
                        height: 100%;
                    }
                }

                @media #{$max1199} {
                    width: 346px;
                    height: 458px;
                }

                @media #{$max991} {
                    width: 346px;
                    height: 375px;
                }

                img {
                    object-fit: cover;
                    @include bd-radius(10px);
                }

            }
        }

        .slider-right-content {
            flex: 0 0 auto;
            width: calc(100% - 652px);
            padding-top: 37px;

            @media #{$max1650} {
                padding-top: 56px;
            }

            @media #{$max1399} {
                width: calc(100% - 554px);
            }

            @media #{$max1199} {
                width: calc(100% - 419px);
                padding-top: 40px;
            }

            @media #{$max767} {
                width: 100%;
                padding-top: 0;
            }

            .right-content {
                @media #{$max767} {
                    text-align: center;
                }

                h5 {
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 43px;
                    color: $black;
                    padding-bottom: 35px;

                    @media #{$max1650} {
                        font-size: 24px;
                        line-height: 42px;
                    }

                    @media #{$max1399} {
                        font-size: 18px;
                        line-height: 26px;
                    }

                    @media #{$max767} {
                        padding-bottom: 16px;
                    }

                    @media #{$max575} {
                        font-size: 16px;
                        line-height: 26px;
                    }
                }

                .ic-about-btn {
                    height: 50px;
                    @include bd-radius(5px);
                    background-color: $black2;
                    color: $white;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 20px;
                    padding: 0 20px;
                    transition: ease-in-out .3s;

                    @media #{$max1399} {
                        font-size: 16px;
                        height: 40px;
                    }

                    @media #{$max767} {
                        font-size: 14px;
                    }

                    &:hover {
                        background-color: $primary;
                    }
                }
            }
        }
    }
}

.ic-section-header {
    text-align: center;
    padding-bottom: 50px;

    @media #{$max1199} {
        padding-bottom: 15px;
    }

    h1 {
        color: $primary;
        font-weight: 400;
        font-size: 80px;
        line-height: 116px;
        font-family: $font-kaushan;

        @media #{$max1440} {
            font-size: 60px;
            line-height: 90px;
        }

        @media #{$max767} {
            font-size: 48px;
            line-height: 58px;
        }

        @media #{$max575} {
            font-size: 38px;
            line-height: 50px;
        }
    }
}

.ic-approach-tab-links {
    .ic-approach-tabs-scroll {
        overflow: auto;
    }

    .tabs-nav {
        @include d-flex();
        @include align-items(center);
        @include justify-content(center);
        gap: 30px;
        background-color: $bg3;
        padding-top: 70px;
        padding-bottom: 20px;
        padding-left: 48px;
        padding-right: 48px;

        @media #{$max1399} {
            gap: 10px;
            padding-top: 46px;
        }

        @media #{$max1199} {
            gap: 10px;
            width: 1020px;
            flex-wrap: nowrap;
            padding-left: 15px;
            padding-right: 15px;
            @include justify-content(start);
        }

        li {
            a {
                height: 50px;
                @include bd-radius(5px);
                background-color: $black2;
                color: $white;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                font-size: 18px;
                line-height: 20px;
                padding: 0 20px;
                transition: ease-in-out .3s;

                @media #{$max1399} {
                    font-size: 16px;
                    height: 40px;
                }

                @media #{$max767} {
                    font-size: 14px;
                }

                @media #{$max1199} {
                    white-space: nowrap;
                }

                &.active {
                    background-color: $primary;
                }

                &:hover {
                    background-color: $primary;
                }
            }
        }
    }
}

.ic-our-unique-text-slider {
    background-color: $bg3;
    padding-left: 56px;
    padding-right: 56px;
    padding-bottom: 70px;
    padding-top: 17px;
    position: relative;
    z-index: 9;
    opacity: 0;

    @media #{$max1399} {
        padding-bottom: 46px;
    }

    @media #{$max991} {
        padding-left: 20px;
        padding-right: 20px;
    }

    &.slick-initialized {
        opacity: 1;
    }

    .slick-dots {
        width: calc(100% - 0px);
        position: static;
        padding-top: 0;
        margin-top: -12px;

        @media #{$max575} {
            padding-top: 0;
            margin-top: 22px;
        }

        li {
            button {
                border: 2px solid $primary;
            }

            &.slick-active {
                button {
                    background-color: $primary !important;
                }
            }
        }
    }

    .unique-text-slider {
        h5 {
            font-family: 'argentcf-bold';
            font-size: 30px;
            line-height: 34px;
            color: $black;
            padding-bottom: 12px;

            @media #{$max575} {
                font-size: 26px;
                line-height: 34px;
            }
        }

        p {
            color: $black;
            font-size: 20px;
            line-height: 32px;
            padding-bottom: 15px;
            font-weight: 500;

            @media #{$max1199} {
                font-size: 18px;
                line-height: 28px;
            }

            @media #{$max991} {
                font-size: 17px;
                line-height: 28px;
            }

            @media #{$max575} {
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
}



.ic-unique-images-slider {
    margin-top: -150px;
    opacity: 0;
    transition: all linear 0.4s;

    @media #{$max991} {
        margin-top: 8px;
    }

    &.slick-initialized {
        opacity: 1;
    }
}

.ic-our-unique-items {
    display: none;

    &.active {
        display: block;
    }
}

.ic-impacted-million {
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.impacted-text-slider-items {
    display: flex !important;
    flex-direction: column;
    height: 100%;
    align-items: center;
    position: relative;
    height: 391px;
    justify-content: center;
    @media #{$max991} {
        padding-bottom: 20px;
    }

    h2 {
        font-weight: 700;
        font-size: 47px;
        line-height: 75px;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @media #{$max1399} {
            font-size: 40px;
            line-height: 56px;
        }

        @media #{$max991} {
            text-align: center;
            font-size: 32px;
            line-height: 38px;
        }

        &:not(:last-child) {
            padding-bottom: 50px;

            @media #{$max991} {
                padding-bottom: 30px;
            }
        }
    }
}

.ic-middle-images {
    position: relative;

    img {
        transform: rotate(-105deg);

        @media #{$max991} {
            transform: rotate(-2deg);
            max-width: 45px;
            margin-bottom: 20px;
        }
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.ic-impacted-content-slider {
    .slick-dots {
        justify-content: start;
        bottom: -55px !important;
        left: -111px;

        @media #{$max991} {
            position: static;
            @include justify-content(center);
        }
    }
}

.ic-impacted-content-items {
    @media #{$max991} {
        text-align: center;
    }

    h3 {
        font-weight: 700;
        font-size: 55px;
        line-height: 65px;
        font-family: 'argentcf-bold';
        color: #fff;
        padding-bottom: 48px;

        @media #{$max1440} {
            font-size: 46px;
            line-height: 53px;
        }

        @media #{$max1399} {
            font-size: 40px;
            line-height: 47px;
        }

        @media #{$max1199} {
            font-size: 28px;
            line-height: 33px;
        }

        @media #{$max767} {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;

        }
    }

    a {
        background-color: $secondary;
        color: $black;

        &:hover {
            color: $white;
        }
    }
}

.ic-make-content {
    text-align: center;

    h2 {
        font-family: $font-kaushan;
        font-size: 80px;
        line-height: 116px;
        padding-bottom: 15px;
        font-weight: 400;

        @media #{$max1440} {
            font-size: 60px;
            line-height: 90px;
        }

        @media #{$max991} {
            font-size: 48px;
            line-height: 60px;
        }

        @media #{$max575} {
            font-size: 38px;
            line-height: 50px;
        }
    }

    h4 {
        font-size: 45px;
        line-height: 55px;
        font-family: 'argentcf-regular';
        color: $white;
        padding-bottom: 45px;

        @media #{$max1440} {
            font-size: 32px;
            line-height: 44px;
        }

        @media #{$max1399} {
            font-size: 30px;
            line-height: 44px;
            padding-bottom: 38px;
        }

        @media #{$max1199} {
            font-size: 26px;
            line-height: 36px;
            padding-bottom: 30px;
        }

        @media #{$max575} {
            font-size: 22px;
            line-height: 32px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .ic-btn {
        background-color: $secondary;
        color: $black;
    }
}

.ic-team-member {
    background-color: $bg3;

    .ic-team-member-wrapper {

        position: relative;

        .ic-team-member-slider {


            /* the slides */
            .slick-slide {
                margin: 0 12px;

                @media #{$max1650} {
                    margin: 0 10px;
                }

                @media #{$max1399} {
                    margin: 0 8px;
                }

                @media #{$max1199} {
                    margin: 0 6px;
                }
            }

            /* the parent */
            .slick-list {
                margin: 0 -12px;

                @media #{$max1650} {
                    margin: 0 -10px;
                }

                @media #{$max1399} {
                    margin: 0 -8px;
                }

                @media #{$max1199} {
                    margin: 0 -6px;
                }
            }

            .slick-dots {
                position: static;
            }

            .ic-single-member {
                .ic-image {
                    position: relative;
                    overflow: hidden;
                    @include bd-radius(10px);
                    height: 315px;

                    img {
                        border: 1px solid $black2;
                        max-width: 100%;
                        height: auto;
                        width: 100%;
                        @include bd-radius(10px);
                        // height: 370px;
                        // object-fit: cover;
                        @include transition(0.5s);

                        // @media #{$max1650} {
                        //     height: 300px;
                        // }

                        // @media #{$max1199} {
                        //     height: 250px;
                        // }

                        @media #{$max991} {
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }

                .ic-content {
                    text-align: center;

                    .ic-title {
                        color: $black;
                        font-weight: 700;
                        font-family: 'argentcf-bold';
                        font-size: 26px;
                        line-height: 26px;
                        @media #{$max1399} {
                            font-size: 22px;
                            line-height: 22px;
                            margin-bottom: 8px;
                        }
                    }

                    .ic-des {
                        font-weight: 500;
                    }
                }
            }



        }

        .ic-team-member-slider-button-group {

            @media #{$max1399} {
                display: none;
            }

            .ic-button {
                position: absolute;
                transform: translateY(-50%);
                top: 50%;
                @include transition(0.5s);
                background-color: transparent;

                svg {
                    opacity: 0.6;
                }

                &.ic-team-member-right-button {
                    left: -65px;

                    @media #{$max1650} {
                        left: -50px;
                    }

                    @media #{$max1399} {
                        left: 0;
                        transform: translate(-50%, -50%);
                        // transform : translate(-50%,-230%);
                    }

                }

                &.ic-team-member-left-button {
                    right: -65px;

                    @media #{$max1650} {
                        right: -50px;
                    }

                    @media #{$max1399} {
                        left: 100%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }


    }


}

.ic-award-achivement {
    background-color: $bg3;

    .ic-award-achivement-wrapper {
        position: relative;

        .ic-award-achivement-slider {
            .ic-content {
                @include d-flex;
                @include flex-wrap(wrap);
                @include align-items(center);
                @include justify-content(space-between);
                gap: 15px;

                @media #{$max767} {
                    @include justify-content(center);
                    flex-direction: column;
                }

                .ic-left-content {
                    max-width: 404px;

                    .ic-title {
                        color: $black2;
                        font-weight: 700;
                        font-family: 'argentcf-bold';
                        line-height: 1.2;

                        @media #{$max1440} {
                            font-size: 50px;
                        }

                        @media #{$max1199} {
                            font-size: 45px;
                        }

                        @media #{$max767} {
                            font-size: 38px;
                            text-align: center;
                        }
                    }
                }

                .ic-more-btn {
                    flex: 0 0 auto;
                }
            }

            .slick-dots {
                // justify-content: ;
                // bottom: -55px !important;
                // left: -111px;

                bottom: -25px !important;
                left: 50% !important;
                transform: translateX(-50%) !important;

                @media #{$max767} {
                    bottom: -41px !important;
                    position: static;
                    transform: unset !important;
                    justify-content: center;
                }





                li {

                    button {
                        background-color: transparent !important;
                        border: 2px solid $black2;
                    }

                    &.slick-active {
                        button {
                            background-color: $black2 !important;
                        }
                    }

                    &:hover {
                        button {
                            background-color: $black2 !important;
                        }
                    }
                }

            }


        }
    }
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

.ic-more-info {
    margin-bottom: 15px;

    a {
        display: flex;
        align-items: center;
        gap: 50px;
        justify-content: space-between;
        color: $black;
        transition: 0.3s;

        &:hover {
            color: $primary;
        }

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}