.ic-banner-part {
    &.ic-newsroom-banner {
        padding-top: 200px;
        padding-bottom: 130px;
        @media #{$max1280} {
            padding-top: 137px;
            padding-bottom: 95px;
            
        }
    }

    &.ic-apprach-banner {
        padding-bottom: 204px;

        @media #{$max1199} {
            padding-bottom: 140px;
        }

        @media #{$max767} {
            padding-bottom: 70px;
        }
    }
}

.ic-sajida-newsroom-banner {
    h4 {
        font-size: 35px;
        line-height: 40px;
        font-family: 'argentcf-bold';
        color: $white;
        padding-bottom: 40px;
        position: relative;
        display: inline-block;

        @media #{$max1199} {
            font-size: 28px;
            line-height: 35px;
        }

        @media #{$max991} {
            font-size: 26px;
            line-height: 35px;
        }

        @media #{$max767} {
            font-size: 20px;
            line-height: 35px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 18px;
            left: 0;
            width: 148px;
            height: 4px;
            @include bd-radius(8px);
            background-color: $white;
        }
    }

    p {
        color: $white;
        padding-bottom: 30px;
    }
}

.ic-feature-slider-items {
    position: relative;
    margin: 0 12px;
    @include bd-radius2(5px, 5px, 0px, 0px);
    height: 100%;
    border: 1px solid $border;
    @include bd-radius(5px);

    .feature-img {
        position: relative;
        overflow: hidden;

        .date {
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: $primary;
            padding: 8px 15px;
            @include bd-radius(5px);
            color: $white;
            display: inline-block;
        }

        img {
            width: 100%;
            height: 255px;
            object-fit: cover;
            object-position: top;
            @include bd-radius2(5px, 5px, 0px, 0px);
            transform: scale(1);
            transition: linear .4s;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 10px;
            background-color: $secondary;
        }
    }

    .feature-content-num {
        text-align: center;
        padding: 20px 30px;

        @include bd-radius2(0, 0, 5px, 5px);

        @media #{$max1399} {
            padding: 20px 13px;
        }

        p {
            color: $primary;
        }

        h6 {
            font-family: 'argentcf-regular';
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            color: $black2;
        }
    }

    &:hover {
        .feature-img {
            img {
                transform: scale(1.1);
            }
        }
    }
}

.slick-track {
    .ic-feature-slider-items {
        &:nth-child(odd) {
            .feature-img {
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 10px;
                    background-color: $primary;
                }
            }
        }

        &:nth-child(even) {
            .feature-img {
                &::after {
                    background-color: $secondary;
                }
            }
        }
    }
}

.ic-newsroom-heading {
    h4 {
        font-size: 40px;
        line-height: 36px;
        font-family: 'argentcf-bold';
        position: relative;
        display: inline-block;
        padding-bottom: 15px;

        @media #{$max1199} {
            font-size: 30px;
            line-height: 36px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 148px;
            height: 4px;
            @include bd-radius(8px);
            background-color: $primary;
        }

        @media #{$max1199} {}
    }


}

.ic-feature-slider-arrows {
    @include d-flex();
    @include align-items(center);
    @include justify-content(flex-end);
    gap: 15px;

    button {
        width: 52px;
        height: 52px;
        border: 1px solid $border;
        @include bd-radius(50%);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $black2;
        background-color: transparent;
        transition: all linear .4s;

        @media #{$max991} {
            width: 40px;
            height: 40px;
        }

        i {
            font-size: 24px;
        }

        &:hover {
            background-color: $primary;

            i {
                color: $white;
            }
        }
    }
}

.ic-news-sajida-news {
    padding-bottom: 50px;
}

.news-part-heading {
    @media #{$max991} {
        text-align: center;
    }

    h3 {
        font-family: $font-kaushan;
        font-weight: 400;
        font-size: 55px;
        line-height: 80px;
        color: $black;

        @media #{$max1199} {
            font-size: 45px;
            line-height: 50px;
        }

        @media #{$max1399} {
            font-size: 38px;
            line-height: 48px;
        }
    }
}

.news-part-selector {
    @include d-flex();
    @include justify-content(flex-end);
    @include align-items(center);
    gap: 24px;

    @media #{$max991} {
        @include justify-content(center);
    }

    @media #{$max480} {
        gap: 6px;
    }
}

.bootstrap-select {
    width: 170px !important;

    @media #{$max480} {
        width: 100% !important;
    }

    >.dropdown-toggle {
        height: 50px;
        @include bd-radius(5px);
        border: 1px solid $border;
        padding: 0 20px;
        background-color: transparent;

        &::after {
            border: 0 !important;
            content: "\ea4e";
            font-family: 'remixicon';
            font-size: 20px;
        }

        &:focus {
            outline: 0 !important;
        }

        &:active {
            background-color: transparent;
        }

        .filter-option-inner-inner {
            line-height: 50px;
        }
    }
}

.ic-approach-content {
    h2 {
        font-family: 'argentcf-bold';
        color: $white;
        display: inline-block;
        position: relative;
        padding-bottom: 25px;

        &::after {
            content: "";
            position: absolute;
            bottom: 17px;
            left: 50%;
            transform: translateX(-50%);
            width: 148px;
            height: 4px;
            background-color: $white;
        }
    }

    p {
        color: $white;
    }
}


.ic-our-work-heading {
    padding-bottom: 50px;

    @media #{$max1199} {
        padding-bottom: 26px;
    }

    h4 {
        font-weight: 400;
        font-size: 40px;
        line-height: 36px;
        font-family: 'argentcf-regular';
        padding-bottom: 30px;

        @media #{$max1199} {
            padding-bottom: 16px;
            font-size: 32px;
            line-height: 32px;
        }

        @media #{$max575} {
            padding-bottom: 16px;
            font-size: 28px;
            line-height: 32px;
        }

        @media #{$max480} {
            padding-bottom: 16px;
            font-size: 26px;
            line-height: 32px;
        }
    }
}

.ic-our-work-items {
    @include bd-radius(5px);
    border: 1px solid $border;
    height: 100%;

    @media #{$max767} {
        margin: 0 76px;
    }

    @media #{$max480} {
        margin: 0 20px;
    }

    .img {
        overflow: hidden;

        img {
            transition: all linear .3s;
            @include bd-radius2(5px, 5px, 0, 0);
            transform: scale(1);
            height: 312px;
            object-fit: cover;
            object-position: top;
            width: 100%;

            @media #{$max1199} {
                height: 214px;
            }
        }
    }

    .ic-our-content {
        padding: 30px;
        text-align: center;

        @media #{$max1399} {
            padding: 20px 25px;
        }

        @media #{$max1399} {
            padding: 20px 15px;
        }

        h4 {
            font-family: 'argentcf-regular';
            font-weight: 400;
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 15px;

            @media #{$max1399} {
                font-size: 26px;
                line-height: 26px;
                margin-bottom: 8px;
            }
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: $black2;
            margin-bottom: 15px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;

            @media #{$max1399} {
                font-size: 14px;
                line-height: 24px;
            }
        }

        .ic-provite-link {
            padding-bottom: 15px;

            a {
                display: block;
                color: $primary;
                text-decoration: underline;
            }
        }
    }

    &:hover {
        .img {
            img {
                transform: scale(1.1);
            }
        }

        .ic-our-content {
            h4 {
                color: $primary;
            }
        }
    }
}

.line-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.ic-padding-top {
    .col-6 {
        @media (max-width: 400px) {
            width: 100%;
        }
    }
}